openapi: 3.2.0
info:
  version: v1
  title: TAP API Explorer Grid Configurations API
servers:
- url: https://demo.tap.thinksmart.com/prod/api
tags:
- name: GridConfigurations
paths:
  /v1/gridconfigurations/tenant:
    get:
      tags:
      - GridConfigurations
      summary: Tenant Configurations
      description: Method that will return all dashboard grid configurations
      operationId: GridConfigurations_GetByTenant
      parameters:
      - name: $top
        in: query
        description: The max number of records
        required: false
        schema:
          type: string
      - name: $skip
        in: query
        description: The number of records to skip
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: A function that must evaluate to true for a record to be returned
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Specifies a subset of properties to return
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Determines what values are used to order a collection of records
        required: false
        schema:
          type: string
      - name: $inlinecount
        in: query
        description: Set <b>'allpages'</b> if you want to have total count value in result
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResult_GridConfiguration'
            text/json:
              schema:
                $ref: '#/components/schemas/PageResult_GridConfiguration'
            application/xml:
              schema:
                $ref: '#/components/schemas/PageResult_GridConfiguration'
            text/xml:
              schema:
                $ref: '#/components/schemas/PageResult_GridConfiguration'
        '404':
          description: Not Found
  /v1/gridconfigurations/user:
    get:
      tags:
      - GridConfigurations
      summary: User Configurations
      description: Method that will return all dashboard grid configurations visible for current user
      operationId: GridConfigurations_GetByUser
      parameters:
      - name: $top
        in: query
        description: The max number of records
        required: false
        schema:
          type: string
      - name: $skip
        in: query
        description: The number of records to skip
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: A function that must evaluate to true for a record to be returned
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Specifies a subset of properties to return
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Determines what values are used to order a collection of records
        required: false
        schema:
          type: string
      - name: $inlinecount
        in: query
        description: Set <b>'allpages'</b> if you want to have total count value in result
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResult_GridConfiguration'
            text/json:
              schema:
                $ref: '#/components/schemas/PageResult_GridConfiguration'
            application/xml:
              schema:
                $ref: '#/components/schemas/PageResult_GridConfiguration'
            text/xml:
              schema:
                $ref: '#/components/schemas/PageResult_GridConfiguration'
        '404':
          description: Not Found
  /v1/gridconfigurations/{id}:
    get:
      tags:
      - GridConfigurations
      summary: Get by ID
      description: Method which returns the details of a grid configuration by id.
      operationId: GridConfigurations_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridConfiguration'
            text/json:
              schema:
                $ref: '#/components/schemas/GridConfiguration'
            application/xml:
              schema:
                $ref: '#/components/schemas/GridConfiguration'
            text/xml:
              schema:
                $ref: '#/components/schemas/GridConfiguration'
        '404':
          description: Not Found
components:
  schemas:
    GridConfiguration:
      description: Grid Configuration
      required:
      - Name
      - Configuration
      type: object
      properties:
        ID:
          format: uuid
          description: Identifier
          type: string
          example: 00000000-0000-0000-0000-000000000000
        Name:
          description: Configuration Name
          maxLength: 100
          minLength: 0
          type: string
        Description:
          description: Description
          maxLength: 255
          minLength: 0
          type: string
        Configuration:
          description: Jsoned Configuration
          type: string
        UserID:
          format: uuid
          description: Owned by User
          type: string
          example: 00000000-0000-0000-0000-000000000000
        ApplicationID:
          format: uuid
          description: Tenant ID
          type: string
          example: 00000000-0000-0000-0000-000000000000
        IsPinned:
          description: Is pinned on dashboard
          type: boolean
        IsTenant:
          description: Is tenant-level filter
          type: boolean
        IsDefault:
          description: Is default filter
          type: boolean
        HasParameters:
          description: Has Query parameters
          type: boolean
        DateCreated:
          format: date-time
          description: Creation Date
          type: string
        UserCreated:
          format: uuid
          description: User Created
          type: string
          example: 00000000-0000-0000-0000-000000000000
        DateModified:
          format: date-time
          description: Modification date
          type: string
        UserModified:
          format: uuid
          description: User Modified
          type: string
          example: 00000000-0000-0000-0000-000000000000
    PageResult_GridConfiguration:
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/GridConfiguration'
        NextPageLink:
          type: string
        Count:
          format: int64
          type: integer
